# Node & Frontend
node_modules/
dist/
.vite/
*.local

# Java & Backend
target/
.mvn/
*.class
*.jar
*.war

# Environment & Logs
*.log
.env
.env.*

# IDEs & System
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

.vercel
